<!DOCTYPE html>
<html>
    <head>
        <title>Modify Task</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            function toggleCheckboxes(checkboxId) {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach(checkbox => {
                    if (checkbox.id !== checkboxId) {
                        checkbox.checked = false;
                    }
                });
            }
            
        </script>
        <style>
            body {display: flex; flex-direction: column; margin: 0; background-color: #038fe6;}
            .container {padding-left: 2%; justify-content: center; padding-top: 2%; width: 25%;}
            div {display: flex; flex-direction: column; margin-top: 10px;}
            h1 {text-transform: uppercase; font-weight: bold; font-size: 30px; font-family: Verdana;}
            label {font-family: 'Times New Roman'; font-size: 22px; font: bolder;}
            input {font-size: 20px;}
        </style>
    </head>

    <body>
        <div class="container">
            <form th:object="${modifyTask}" th:action="@{/tasklist/modifyTask/{taskId}(taskId=${modifyTask.id})}"
                method="post">
                <h1>Modify Task Info: </h1>
    
                <div>
                    <label style="font-weight: bold;" for="title">Title:</label>
                    <input id="title" th:field="*{title}" type="text" />
                </div>
                <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid Title.</div>
    
                <div>
                    <label style="font-weight: bold;" for="description">Description:</label>
                    <textarea id="description" th:field="*{description}" rows="4" cols="50"></textarea>
                </div>
                <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Invalid Description.</div>
    
                <div style="display: flex; flex-direction: row; margin-top: 10px;">
                    <label style="font-size: 20px; margin-right: 5px; font-size: 20px; font-weight: bold;">Finish before: </label>
                    <input id="finish-before" th:field="*{doBefore}" type="date"/>
                </div>

                <div>
                    <input type="submit" value="Modify Task">
                </div>
            </form>
            
            <div>
                <a href="/tasklist"><-- Return To Task List</a>
            </div>
        </div>
    </body>
    

</html>
