<!DOCTYPE html>
<html>
    <head>
        <title>Modify Task</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            function toggleCheckboxes(checkboxId) {
                const checkboxes = document.querySelectorAll('input[type="checkbox"]');
                checkboxes.forEach(checkbox => {
                    if (checkbox.id !== checkboxId) {
                        checkbox.checked = false;
                    }
                });
            }
        </script>
        <style>
            body {display: flex; flex-direction: column; margin: 0; background-color: burlywood;}
            .container {padding-left: 2%; justify-content: center; padding-top: 2%; width: 25%;}
            div {display: flex; flex-direction: column;}
            h1 {text-transform: uppercase; font-weight: bold; font-size: 30px; font-family: Verdana;}
            label {font-family: 'Times New Roman'; font-size: 22px; font: bolder;}
            input {font-size: 20px;}
        </style>
    </head>

    <body>
        <div class="container">
            <form th:object="${modifyTask}" th:action="@{/tasks/modifyTask/{taskId}(taskId=${modifyTask.id})}"
                method="post">
                <h1>Modify Task Info: </h1>
    
                <div>
                    <label for="title">Title:</label>
                    <input id="title" th:field="*{title}" type="text" />
                </div>
                <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid Title.</div>
    
                <div>
                    <label for="description">Description:</label>
                    <textarea id="description" th:field="*{description}" rows="4" cols="50"></textarea>
                </div>
                <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Invalid
                    Description.</div>
    
                <div>
                    <label>
                        ONGOING:
                        <input id="ongoing" th:field="*{status}" type="checkbox" value="ONGOING"
                            onclick="toggleCheckboxes('ongoing')">
                    </label>
                    <label>
                        FINISHED:
                        <input id="finished" th:field="*{status}" type="checkbox" value="FINISHED"
                            onclick="toggleCheckboxes('finished')">
                    </label>
                </div>
                <div style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Choose an option</div>
    
                <div>
                    <input type="submit" value="Modify Task">
                </div>
            </form>
        </div>
    </body>
    

</html>
